#resume, #resume div
{
  font-size:10pt;
  margin:0px;
  padding:0px;
}

#resume div
{
  padding-bottom:10px;
}

#resume-print a {
  background:url(/images/sprite-aab.png) no-repeat scroll -136px -135px;
  padding:4px 0 6px 26px;
}

#resume-header
{
  margin-top:-50px;
}

#resume-header ul
{
  margin:0px 20px 0 0;
  padding:0px;
}

#resume-header ul li
{
  list-style-type:none;
  padding:0px;
  margin:0px;
  font-size:10pt;
  text-align:right;
}

#resume-objective, #resume-experience, #resume-publications, #resume-skills
{
  width:645px;
  border-bottom:dotted 1px #aaa;
  margin:auto;
}

#resume-experience div.details ul
{
  display:inline;
  list-style-type:none;
}

#resume-experience div.details ul li
{
  width:210px;
  height:180px;
  padding:0px 5px;
  float:left;
}

#resume-experience div.details ul li p
{
  text-align:center;
  font-size:smaller;
  padding:0px;
  margin:0px;
}

#resume-experience ul
{
  display:inline;
  list-style-type:none;
}

#resume-experience ul li.company
{
  width:65%;
  float:left;
  text-align:left;
}

#resume-experience ul li.dates
{
  width:33%;
  float:left;
  text-align:right;
}

#resume-experience div ul
{
  display:block;
  list-style-type: disc;
}

#resume-experience div ul li
{
  font-weight:normal;
}

#resume-publications ul
{
  list-style-type:none;
  margin:0px;
  padding:1px;
}

#resume-publications ul li ul
{
  list-style-type:none;
  margin-bottom:10px;
}
