body{
  font-family:helvetica,verdana,arial,"Bitstream Vera Sans",sans-serif;
  font-size:10pt;
  background:url("/images/background.jpeg") repeat-x #4c7eac;
  margin:0px;
  padding:0px;
}

a:link, a:visited, a:active
{
  color:#4c7eac;
  text-decoration:none;
}

a:hover
{
  text-decoration:underline;
}

#header
{
  width:700px;
  margin:auto;
  margin-bottom:10px;
}

#header h1
{
  float:left;
  font-size:14pt;
  color:#fff;
  width:250px;
  margin-top:20px;
}

hr
{
  color:#ddd;
  background-color:#ddd;
  height:1px;
  border:0;
}

#content
{
  width:680px;
  padding:10px;
  background:#fff;
  color:#000;
  margin:auto;
}

#content h2
{
  font-size:13pt;
  margin:15px 0px 0px 0px;
  padding:3px 5px 0px 0px;
  background:url("/images/resume-title-background.gif") no-repeat #fff;
  height:30px;
}

#content-top
{
  width:700px;
  height:15px;
  margin:auto;
}

.home-image
{
  float:left;
  padding:0px 10px;
}

.home-image p
{
  margin:0px;
  padding:0px;
  text-align:center;
  font-size:smaller;
}

.home-image img
{
  width:200px;
  height:112px;
}

#footer
{
  width:700px;
  margin:auto;
  text-align:center;
  color:#fff;
  padding-top:10px;
  padding-bottom:10px;
}

#footer a:link, #footer a:visited, #footer a:active, #footer a:hover, #seo a:link, #seo a:visited, #seo a:active, #seo a:hover
{
  color:#fff;
}

#seo
{
  color:#fff;
  font-size:smaller;
  width:700px;
  margin:auto;
  margin-top:25px;
  margin-bottom:25px;
}
