body{
  font-family: Georgia, "Times New Roman", Times, serif, helvetica,verdana,arial,"Bitstream Vera Sans",sans-serif;
  font-size:11pt;
  background:url("/images/background.jpeg") repeat-x #3b6d9e;
  margin:0px;
  padding:0px;
}

a:link, a:visited, a:active
{
  color:#4c7eac;
  text-decoration:none;
}

a:hover
{
  text-decoration:underline;
}

.code{
  font-family:courier;
  border:dotted 1px #4c7eac;
  padding:2px;
  background-color:#eeeeee;
  white-space:nowrap;
}

#header-banner
{
  width:700px;
  margin:auto;
  height:40px;
  color:#bbb;
  font-size:20pt;
  padding-top:20px;
}

#header
{
  width:700px;
  margin:auto;
  margin-bottom:10px;
  text-align:center;
}

hr
{
  color:#ddd;
  background-color:#ddd;
  height:1px;
  border:0;
}

#content
{
  width:680px;
  padding:10px;
  background:#fff;
  color:#000;
  margin:auto;
}

#content h1
{
  font-size:13pt;
  margin:15px 0px 15px 0px;
  padding:3px 5px 0px 0px;
  /*background:url("/images/resume-title-background.gif") no-repeat #fff;*/
}

#content-top
{
  width:700px;
  height:7px;
  margin:auto;
}

#content-bottom-left
{
  background:url(/images/sprite.png) no-repeat top left;
  background-position:0px -56px;
  width:7px;
  height:7px;
  float:left;
}

#content-bottom-right
{
  background:url(/images/sprite.png) no-repeat top left;
  background-position:-11px -56px;
  width:7px;
  height:7px;
  float:left;
}

#content-top-left
{
  background:url(/images/sprite.png) no-repeat top left;
  background-position:0px -46px;
  width:7px;
  height:7px;
  float:left;
}

#content-top-middle, #content-bottom-middle
{
  width:686px;
  height:7px;
  background-color:#fff;
  float:left;
}

#content-top-right
{
  background:url(/images/sprite.png) no-repeat top left;
  background-position:-11px -46px;
  width:7px;
  height:7px;
  float:left;
}

.home-image
{
  float:left;
  padding:0px 10px;
}

.home-image p
{
  margin:0px;
  padding:0px;
  text-align:center;
  font-size:smaller;
}

.home-image img
{
  width:200px;
  height:112px;
}

#footer
{
  width:700px;
  margin:auto;
  text-align:center;
  color:#fff;
  padding-top:10px;
  padding-bottom:10px;
}

#footer a:link, #footer a:visited, #footer a:active, #footer a:hover, #seo a:link, #seo a:visited, #seo a:active, #seo a:hover
{
  color:#fff;
}

pre{
  font-family:courier;
  border:dotted 1px #4c7eac;
  padding:2px;
  background-color:#eeeeee;
}

#seo
{
  color:#fff;
  font-size:smaller;
  width:700px;
  margin:auto;
  margin-top:25px;
  margin-bottom:25px;
}

#header ul
{
  list-style-type:none;
  margin:0;
  padding:0;
  height:46px;
  width:636px; /* (102+4)*6 */
  margin:auto;
}

#header ul li
{
  margin:0 2px;
  padding:0;
  text-align:center;
  float:left;
}

#header ul li a:link, #header ul li a:visited
{
  font-size:12pt;
  color:#fff;
  background:url("/images/sprite.png") no-repeat top left;
  background-position:0px -63px;
  width:102px;
  height:26px;
  padding-top:20px;
  display:block;
}

#header ul li a:link.on, #header ul li a:visited.on
{
  text-decoration:underline;
  font-style:italic;
  background-position:0px 0px;
}

#header ul li a:hover
{
  background-position:0px 0px;
}

.strike
{
  text-decoration:line-through;
}
