body{
  font-family: Georgia, "Times New Roman", Times, serif, helvetica,verdana,arial,"Bitstream Vera Sans",sans-serif;
  font-size:11pt;
  background:url("/images/background.jpeg") repeat-x #3b6d9e;
  margin:0px;
  padding:0px;
}

a:link, a:visited, a:active
{
  color:#4c7eac;
  text-decoration:none;
}

a:hover
{
  text-decoration:underline;
}

.code{
  font-family:courier;
  border:dotted 1px #4c7eac;
  padding:2px;
  background-color:#eeeeee;
  white-space:nowrap;
}

#header-banner
{
  width:700px;
  margin:auto;
  height:40px;
  color:#bbb;
  font-size:20pt;
  padding-top:20px;
}

#header
{
  width:960;
  margin:auto;
  margin-bottom:10px;
  text-align:center;
}

hr
{
  color:#ddd;
  background-color:#ddd;
  height:1px;
  border:0;
}

#content
{
  width:940px;
  padding:10px;
  background:#fff;
  color:#000;
  margin:auto;
}

#content h1, #content h2
{
  font-size:13pt;
  margin:15px 0px 15px 0px;
  padding:3px 5px 0px 0px;
}

#content h3
{
  font-size:11pt;
  margin:0;
  padding:0;
}

#content-top
{
  width:960px;
  height:7px;
  margin:auto;
}

#content-bottom-left
{
  background:url(/images/sprite.png) no-repeat top left;
  background-position:0px -56px;
  width:7px;
  height:7px;
  float:left;
}

#content-bottom-right
{
  background:url(/images/sprite.png) no-repeat top left;
  background-position:-11px -56px;
  width:7px;
  height:7px;
  float:left;
}

#content-top-left
{
  background:url(/images/sprite.png) no-repeat top left;
  background-position:0px -46px;
  width:7px;
  height:7px;
  float:left;
}

#content-top-middle, #content-bottom-middle
{
  width:946px;
  height:7px;
  background-color:#fff;
  float:left;
}

#content-top-right
{
  background:url(/images/sprite.png) no-repeat top left;
  background-position:-11px -46px;
  width:7px;
  height:7px;
  float:left;
}

#header ul
{
  list-style-type:none;
  margin:0;
  padding:0;
  height:46px;
  width:636px; /* (102+4)*6 */
  margin:auto;
}

#header ul li
{
  margin:0 2px;
  padding:0;
  text-align:center;
  float:left;
}

#header ul li a:link, #header ul li a:visited
{
  font-size:12pt;
  color:#fff;
  background:url("/images/sprite.png") no-repeat top left;
  background-position:0px -63px;
  width:102px;
  height:26px;
  padding-top:20px;
  display:block;
}

#header ul li a:link.on, #header ul li a:visited.on
{
  text-decoration:underline;
  font-style:italic;
  background-position:0px 0px;
}

#header ul li a:hover
{
  background-position:0px 0px;
}

.home-images
{
  width:660px;
  height:132px;
  margin:auto;
}

.home-images div
{
  float:left;
  width:210px;
  padding:0px;
  margin:0px 5px;
}

.home-images div div
{
  background:url(/images/sprite-home.jpg) no-repeat top left;
  width:200px;
  height:112px;
  float:none;
}

.home-images div div.tl
{
}

.home-images div div.tm
{
  background-position:-200px 0px;
}

.home-images div div.tr
{
  background-position:-400px 0px;
}

.home-images div div.bl
{
  background-position:0px -112px;
}

.home-images div div.bm
{
  background-position:-200px -112px;
}

.home-images div div.br
{
  background-position:-400px -112px;
}

.home-images div p
{
  margin:4px 0px 0px;
  padding:0px;
  text-align:center;
  font-size:smaller;
}


#footer
{
  width:700px;
  margin:auto;
  text-align:center;
  color:#fff;
  padding-top:10px;
  padding-bottom:10px;
}

#footer a:link, #footer a:visited, #footer a:active, #footer a:hover, #seo a:link, #seo a:visited, #seo a:active, #seo a:hover
{
  color:#fff;
}

.narrowcolumn {
	float: left;
	padding: 0 0 20px 0px;
	margin: 0px 0 0;
	width: 700px;
}

  pre{
  font-family:courier;
  border:dotted 1px #4c7eac;
  padding:2px;
  background-color:#eeeeee;
}

#seo
{
  color:#fff;
  font-size:smaller;
  width:700px;
  margin:auto;
  margin-top:25px;
  margin-bottom:25px;
}

#sidebar
{
	padding: 20px 0 10px 0;
	margin-left: 725px;
	width: 180px;
  margin-top:-55px;
}

#sidebar form {
	margin: 0;
}

#header ul li
{
  margin:0 2px;
  padding:0;
  text-align:center;
  float:left;
}

#header ul li a:link, #header ul li a:visited
{
  font-size:12pt;
  color:#fff;
  background:url("/images/sprite.png") no-repeat top left;
  background-position:0px -63px;
  width:102px;
  height:26px;
  padding-top:20px;
  display:block;
}

#header ul li a:hover
{
  text-decoration:underline;
  background-position:0px 0px;
}

#header ul li a:link.on, #header ul li a:visited.on
{
  text-decoration:underline;
  font-style:italic;
}

li.rss
{
  height:16px;
}

li.rss div 
{
  background:url(/images/sprite.png) no-repeat top left;
  background-position: -143px -57px;
  height:14px;
  padding:2px 0px 0px 20px;
}

input.search
{
  border:0;
  background-color:#fff;
  background:url(/images/sprite.png) no-repeat top left;
  background-position: -143px -103px;
  width:16px;
  height:16px;
  cursor:pointer;
}

input.next
{
  border:0;
  background-color:#fff;
  background:url(/images/sprite.png) no-repeat top left;
  background-position: -143px -73px;
  width:16px;
  height:16px;
  cursor:pointer;
  float:right;
}

input.previous
{
  border:0;
  background-color:#fff;
  background:url(/images/sprite.png) no-repeat top left;
  background-position: -143px -88px;
  width:16px;
  height:16px;
  cursor:pointer;
  float:left;
}

